name = "moltbot-frontend"
compatibility_date = "2024-04-03"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = "./dist"

[observability]
enabled = true

[ai]
binding = "AI"

[[d1_databases]]
binding = "DB"
database_name = "moltbot-db"
database_id = "97634677-4bac-44d1-bd02-6c733328a137" # Should match backend ID
