---
import Layout from '../layouts/Layout.astro';
import Dashboard from '../components/App';
---

<Layout title="Oaktree Agent - Dashboard">
	<main>
		<Dashboard client:only="react" />
	</main>
</Layout>

<style>
	main {
		margin: 0;
		width: 100%;
		font-size: 20px;
		line-height: 1.6;
		min-height: 100vh;
	}
</style>
