---
import Layout from '../layouts/Layout.astro';
import Dashboard from '../components/App';
---

<Layout title="Oaktree Agent - Dashboard">
	<main>
		<Dashboard client:only="react" />
	</main>
</Layout>

<style>
	main {
		margin: 0;
		width: 100%;
		color: #1e293b;
		font-size: 20px;
		line-height: 1.6;
		background: radial-gradient(circle at 50% 50%, #f8fafc 0%, #f1f5f9 50%, #e2e8f0 100%);
		min-height: 100vh;
	}
</style>
